#!/usr/bin/make -f

export GOPATH=$(CURDIR)/obj-x86_64-linux-gnu

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	make build

override_dh_auto_test:
	go test

override_dh_auto_install:
	dh_auto_install -- --no-source
	mkdir -p $(CURDIR)/debian/popeye/usr/share/bash-completion/completions $(CURDIR)/debian/popeye/usr/share/zsh/vendor-completions
	$(CURDIR)/execs/popeye completion bash > $(CURDIR)/debian/popeye/usr/share/bash-completion/completions/popeye
	$(CURDIR)/execs/popeye completion zsh > $(CURDIR)/debian/popeye/usr/share/zsh/vendor-completions/_popeye
